{{#
    @name Booking - Entry
    @desc Entry booking form
#}}

<!-- /components/_home_booking.antlers.html -->

<div class="flex flex-col space-y-2">

<!-- date picker -->

<div x-data="{ open: false }" class="w-full flex items-center h-12 {{ if is_homepage }} h-16  {{ /if }}" >
    <div :class="{'text-red-500': !Alpine.store('dateRangePicker').startDate && !Alpine.store('dateRangePicker').endDate}" class="relative flex items-center w-full h-full text-gray-600 border-gray-400 rounded-md">
        <!-- FontAwesome Icon -->
        <i class="absolute ml-2 fa-solid fa-calendar" style="pointer-events: none;"></i>
        <!-- Input Field -->
        <input type="text" style="width:100% !important; padding-left: 2rem;" class="flex h-full pl-8 border-gray-400 rounded-md date-range focus:border-gray-400 focus:ring-0" x-ref="dateRange" placeholder="Choose dates" :class="{'border border-red-500 placeholder-red-500': !Alpine.store('dateRangePicker').startDate && !Alpine.store('dateRangePicker').endDate }" @click="open = !open" readonly>
        <i class="absolute right-0 mr-2 pointer-events-none fa-solid fa-angle-down"></i>
        <div x-show="open" @click.away="open = false" class="absolute z-50 mt-2 bg-white rounded-md shadow-lg">
            <!-- Date range picker will be displayed here -->
        </div>
    </div>
    <!-- Inline error message display -->
</div>
<div x-text="Alpine.store('dateRangePicker').errorMessage" class="text-xs text-red-500"></div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        Alpine.store('dateRangePicker', {
            startDate: null,
            endDate: null,
            errorMessage: '',
            init() {
                this.loadSessionDates(); // Load dates from session storage
                this.initFlatpickr();
            },
            initFlatpickr() {
                flatpickr(".date-range", {
                    mode: "range",
                    minDate: new Date(), // Set minimum date to current date
                    showMonths: '2',
                    dateFormat: "M j",
                    defaultDate: [this.startDate, this.endDate], // Set default dates
                    onChange: this.updateDates.bind(this),
                });
            },
            updateDates(selectedDates) {
                this.startDate = selectedDates[0];
                this.endDate = selectedDates[1];
                this.updateSessionDates(); // Update session storage with new dates
                this.errorMessage = ''; // Clear error message when dates are selected
            },
            loadSessionDates() {
                const arrivalDate = sessionStorage.getItem('_gfcr_arrival_date');
                const departureDate = sessionStorage.getItem('_gfcr_departure_date');
                if (arrivalDate && departureDate) {
                    this.startDate = new Date(arrivalDate);
                    this.endDate = new Date(departureDate);
                    this.errorMessage = ''; // Clear any error message if valid dates are found
                }
            },
            updateSessionDates() {
                sessionStorage.setItem('_gfcr_arrival_date', this.startDate);
                sessionStorage.setItem('_gfcr_departure_date', this.endDate);
            },
            checkDateRange() {
                if (!this.startDate || !this.endDate) {
                        this.errorMessage = "Please select a date range.";
                    return false;
                }
                return true;
            },
        });
    });
</script>

<!-- END: date picker -->

<!-- guests picker -->

<div x-data="{ open: false }" class="relative ">
    <button @click="open = !open" :class="{'border-red-500 border text-red-500': Alpine.store('guestPicker').adults == 0, 'border-gray-400 border': Alpine.store('guestPicker').adults > 0 == true}" class="flex items-center justify-start w-full px-2 py-2 space-x-2 text-left text-gray-600 bg-white border rounded-md px-09 focus:outline-none">
        <i class="text-lg fa-solid fa-person"></i>
        <span class="flex-1" x-text="Alpine.store('guestPicker').adults + Alpine.store('guestPicker').children === 0 ? 'Add Guests' : Alpine.store('guestPicker').adults + Alpine.store('guestPicker').children === 1 ? '1 Guest' : Alpine.store('guestPicker').adults + Alpine.store('guestPicker').children + ' Guests'"></span>
        <i class="fa-solid fa-angle-down"></i>
    </button>
    <div x-show="open" @click.away="open = false" class="absolute z-50 w-full mt-2 bg-white rounded-md shadow-lg" :class="{'border border-gray-400': Alpine.store('guestPicker').adults == 0), 'border-red-500 border ': Alpine.store('guestPicker').adults == 0}">
        <!-- Adults -->
        <div class="flex items-center px-2 py-2">
            <i class="mr-2 text-xl fa-solid fa-person"></i>
            <span x-text="Alpine.store('guestPicker').adults === 0 ? 'Add Adults' : Alpine.store('guestPicker').adults + ' Adult' + (Alpine.store('guestPicker').adults >= 2 ? 's' : '')" class="flex-1"></span>
            <div class="flex space-x-2">
                <button @click="Alpine.store('guestPicker').decrementAdults()" class="flex items-center justify-center w-6 h-6 px-2 py-1 border border-gray-400 rounded-full hover:bg-gray-100 focus:outline-none">
                    <i class="text-sm fa-solid fa-minus"></i>
                </button>
                <button @click="Alpine.store('guestPicker').incrementAdults()" class="flex items-center justify-center w-6 h-6 px-2 py-1 border border-gray-400 rounded-full hover:bg-gray-100 focus:outline-none">
                    <i class="text-sm fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
        <!-- Children -->
        <div class="flex items-center px-2 py-2">
            <i :class="Alpine.store('guestPicker').adults < 1 ? 'mr-2 text-xl fa-solid fa-child text-gray-300' : 'mr-2 text-xl fa-solid fa-child'" ></i>
            <span :class="Alpine.store('guestPicker').adults < 1 ? 'flex-1 text-gray-300' : 'flex-1'" x-text="Alpine.store('guestPicker').children === 0 ? 'Add Children' : Alpine.store('guestPicker').children + ' Child' + (Alpine.store('guestPicker').children >= 2 ? 'ren' : '')"></span>
            <div class="flex space-x-2">
                <button :disabled="Alpine.store('guestPicker').adults < 1" @click="Alpine.store('guestPicker').decrementChildren()" :class="Alpine.store('guestPicker').adults < 1 ? 'flex items-center justify-center w-6 h-6 px-2 py-1 border border-gray-300 rounded-full text-gray-300 focus:outline-none' : 'flex items-center justify-center w-6 h-6 px-2 py-1 border border-gray-400 rounded-full hover:bg-gray-100 focus:outline-none'">
                    <i class="text-sm fa-solid fa-minus"></i>
                </button>
                <button :disabled="Alpine.store('guestPicker').adults < 1" @click="Alpine.store('guestPicker').incrementChildren()" :class="Alpine.store('guestPicker').adults < 1 ? 'flex items-center justify-center w-6 h-6 px-2 py-1 border border-gray-300 rounded-full text-gray-300 focus:outline-none' : 'flex items-center justify-center w-6 h-6 px-2 py-1 border border-gray-400 rounded-full hover:bg-gray-100 focus:outline-none'">
                    <i class="text-sm fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="flex justify-end p-2">
            <button @click="open = false" class="w-full px-4 py-2 text-sm text-white bg-gray-400 rounded-md hover:bg-gray-500 focus:outline-none">
                Done
            </button>
        </div>
    </div>
    <!-- Inline Message Display -->

 </div>

 <div x-text="Alpine.store('guestPicker').message" class="text-xs text-red-500"></div>

<script>
document.addEventListener('alpine:init', () => {
    Alpine.store('guestPicker', {
        adults: parseInt(sessionStorage.getItem('_gfcr_adults') || 0),
        children: parseInt(sessionStorage.getItem('_gfcr_children') || 0),
        message: '', // Added for inline message
        updateSessionStorage() {
            sessionStorage.setItem('_gfcr_adults', this.adults);
            sessionStorage.setItem('_gfcr_children', this.children);
            sessionStorage.setItem('_gfcr_guests', this.adults + this.children);
            this.checkSelection(); // Check selection after updating session storage
        },
        incrementAdults() {
            this.adults++;
            this.updateSessionStorage();
        },
        decrementAdults() {
            this.adults = Math.max(0, this.adults - 1);
            if (this.adults === 0) {
                this.children = 0; // Reset children if no adults
            }
            this.updateSessionStorage();
        },
        incrementChildren() {
            if (this.adults > 0) {
                this.children++;
                this.updateSessionStorage();
            }
        },
        decrementChildren() {
            this.children = Math.max(0, this.children - 1);
            this.updateSessionStorage();
        },
        checkSelection() {
            if (this.adults >= 1) {
                this.message = ""; // Clear message if adults >= 1
                return true; // Ensure there is a true statement
            } else {

                    this.message = "Please select at least one adult."; // Show message if no adults selected

                return false; // Ensure there is a true statement
            }
        }
    });
});
</script>

<!-- END: guests picker -->


{{ if segment_1 == 'charters' }}
<!-- charter picker -->






<div x-data="{ isOpen: false }" class="relative" x-init="$store.charterPicker.init()">
    <!-- Component internals here -->
    <!-- Display Selected Option / Toggle Dropdown -->
    <button
    @click="isOpen = !isOpen"
    :class="{
        'border-red-500 text-red-500': $store.charterPicker.selectedOption === 'Choose charter length',
        'border-gray-400': $store.charterPicker.selectedOption !== 'Choose charter length',

    }"
    class="flex items-center w-full h-12 px-2 py-3 leading-4 text-left text-gray-600 bg-white border rounded-md shadow-sm text-md focus:outline-none focus:ring-0">
        <template x-if="$store.charterPicker.selectedOption == 'Choose charter length'">
            <i class="mr-2 fa-solid fa-battery-empty"></i>
        </template>
        <template x-if="$store.charterPicker.selectedOption.startsWith('Half day:')">
            <i class="mr-1 fa-solid fa-battery-half"></i>
        </template>
        <template x-if="$store.charterPicker.selectedOption.startsWith('3/4 day:')">
            <i class="mr-1 fa-solid fa-battery-three-quarters"></i>
        </template>
        <template x-if="$store.charterPicker.selectedOption.startsWith('Full day:')">
            <i class="mr-1 fa-solid fa-battery-full"></i>
        </template>
        <span x-text="$store.charterPicker.selectedOption" class="flex-1"></span>
        <i class="fa-solid fa-angle-down"></i>
    </button>


    <!-- Dropdown Options -->
    <div x-show="isOpen" @click.away="isOpen = false" class="absolute z-50 w-full mt-2 bg-white rounded-md shadow-lg" :class="{'border border-red-500': isOpen && $store.charterPicker.selectedOption === 'Choose charter length', 'border border-gray-400': !isOpen || $store.charterPicker.selectedOption !== 'Choose charter length'}">
        <ul>
            <!-- Options generated with Antlers templating -->
            {{ pricing }}
                <li :class="{'cursor-not-allowed text-gray-400': $store.charterPicker.selectedOption === 'Half day: ${{ half_day }}.00'}" @click="$store.charterPicker.selectedOption !== 'Half day: ${{ half_day }}.00' && $store.charterPicker.selectOption('Half day: ${{ half_day }}.00'); isOpen = false" class="px-2 py-2 cursor-pointer hover:bg-gray-100">
                    <i class="mr-1 fa-solid fa-battery-half"></i>
                    <span :class="{'font-bold': $store.charterPicker.selectedOption === 'Half day: ${{ half_day }}.00'}">Half day: ${{ half_day }}.00</span>
                </li>
                <li :class="{'cursor-not-allowed text-gray-400': $store.charterPicker.selectedOption === '3/4 day: ${{ three_quarter_day}}.00'}" @click="$store.charterPicker.selectedOption !== '3/4 day: ${{ three_quarter_day}}.00' && $store.charterPicker.selectOption('3/4 day: ${{ three_quarter_day}}.00'); isOpen = false" class="px-2 py-2 cursor-pointer hover:bg-gray-100">
                    <i class="mr-1 fa-solid fa-battery-three-quarters"></i>
                    <span :class="{'font-bold': $store.charterPicker.selectedOption === '3/4 day: ${{ three_quarter_day}}.00'}">3/4 day: ${{ three_quarter_day }}.00</span>
                </li>
                <li :class="{'cursor-not-allowed text-gray-400': $store.charterPicker.selectedOption === 'Full day: ${{ full_day }}.00'}" @click="$store.charterPicker.selectedOption !== 'Full day: ${{ full_day }}.00' && $store.charterPicker.selectOption('Full day: ${{ full_day }}.00'); isOpen = false" class="px-2 py-2 cursor-pointer hover:bg-gray-100 rounded-b-md">
                    <i class="mr-1 fa-solid fa-battery-full"></i>
                    <span :class="{'font-bold': $store.charterPicker.selectedOption === 'Full day: ${{ full_day }}.00'}">Full day: ${{ full_day }}.00</span>
                </li>
            {{ /pricing }}
        </ul>
    </div>

 </div>
 <div x-show="$store.charterPicker.showMessage" class="text-xs text-red-500">Please choose a charter length</div>


<script>
document.addEventListener('alpine:init', () => {
    Alpine.store('charterPicker', {
        selectedOption: 'Choose charter length', // Default option set to prompt reselection
        showMessage: false,
        currentPage: '',
        init() {
            this.currentPage = window.location.href;
            const storedPage = sessionStorage.getItem('_gfcr_page');
            const storedOption = sessionStorage.getItem('_gfcr_charter');
            if (storedPage !== this.currentPage || !storedOption) {
                this.requireReselection();
            } else {
                this.selectedOption = storedOption;
            }
        },
        requireReselection() {
            this.selectedOption = 'Choose charter length';
            this.showMessage = false;
            sessionStorage.removeItem('_gfcr_charter'); // Ensure reselection by removing stored option
        },
        selectOption(option) {
            this.selectedOption = option;
            this.showMessage = false;
            sessionStorage.setItem('_gfcr_charter', option); // Store in session storage
            sessionStorage.setItem('_gfcr_page', this.currentPage); // Store current page URL in session storage
        },
        checkSelection() {
            if (this.selectedOption === 'Choose charter length') {
                this.showMessage = true;
                return false; // Ensure there is a false statement when the selection is default
            } else {
                // Redirect or other logic here
                return true; // Ensure there is a true statement when a selection has been made
            }
        },
        // Additional methods or properties here
    });
});
</script>

<!-- END: charter picker -->
{{ /if }}



{{ if segment_1 == 'packages' }}


<div x-data="{ open: false, selectedOption: 'Choose charter length' }" class="relative">
    <button @click="open = !open" class="relative z-10 block w-full py-2 pl-3 pr-10 text-left border border-gray-300 rounded-md cursor-default focus:outline-none focus:shadow-outline sm:text-sm sm:leading-5">
        <span class="block truncate">Upgrade your boat?</span>
        <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
            <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                <path fill-rule="evenodd" d="M10 3a7 7 0 100 14 7 7 0 000-14zm0-2a9 9 0 110 18 9 9 0 010-18z" clip-rule="evenodd" />
            </svg>
        </span>
    </button>
    <div x-show="open" @click.away="open = false" class="absolute z-10 w-full mt-2 bg-white rounded-md shadow-lg">
        <ul class="bg-white rounded-md shadow-xs">
            {{ boat_upgrades }}
                <li class="py-1">
                    <a @click="open = false; selectedOption = title" href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">{{ title }}</a>
                </li>
            {{ /boat_upgrades }}
        </ul>
    </div>
</div>



{{ /if }}


<!-- booking button -->

<div class="!mt-4">
    {{ partial:partials/buttons/_booking }}
</div>

<!-- END: booking button -->

</div>

<!-- End: /components/_home_booking.antlers.html -->


