{{#
    @name Default
    @desc The default template with an outer wrapper grid as defined in tailwind.config.js. It makes sure all blocks on a page get evenly spaced without having to worry about margins or paddings.
#}}

<!-- /default.antlers.html -->
<main class="{{ if ! is_homepage }} outer-grid {{ /if }}" id="content">
    {{#
    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
    #}}



    <div class="relative flex items-center justify-center h-screen overflow-hidden">

        <div class="relative z-[999999] justify-center w-full">
          <h1 class="mb-4 text-3xl font-extrabold text-center text-white uppercase lg:text-7xl">Discover Costa Rica</h1>
          <h3 class="px-4 mb-4 text-xl tracking-widest text-center text-white uppercase">Tamarindo's #1 Sport Fishing Operation</h3>
          <div class="mt-3 sm:mt-0">


            <div class="w-1/4 mx-auto carousel"
            data-flickity='{ "wrapAround": true, "autoPlay": 2000, "prevNextButtons": false, "pageDots": false, "selectedAttraction": 0.08, "friction": 0.2 }'>
            <div class="carousel-cell">
                <img src="/images/tripadvisor-certificate-of-excellence-2020.svg" alt="" class="h-full mx-auto">
            </div>
            <div class="carousel-cell">
                <img src="/images/tripadvisor-travelers-choice-2020.svg" alt="" class="h-full mx-auto">
            </div>
            <div class="carousel-cell">
                <img src="/images/tripadvisor-certificate-of-excellence-2021.svg" alt="" class="h-full mx-auto">
            </div>
            <div class="carousel-cell">
                <img src="/images/tripadvisor-travelers-choice-2021.svg" alt="" class="h-full mx-auto">
            </div>
            <div class="carousel-cell">
                <img src="/images/tripadvisor-certificate-of-excellence-2022.svg" alt="" class="h-full mx-auto">
            </div>
            <div class="carousel-cell">
                <img src="/images/tripadvisor-travelers-choice-2022.svg" alt="" class="h-full mx-auto">
            </div>
            <div class="carousel-cell">
                <img src="/images/tripadvisor-certificate-of-excellence-2023.svg" alt="" class="h-full mx-auto">
            </div>
            <div class="carousel-cell">
                <img src="/images/tripadvisor-travelers-choice-2023.svg" alt="" class="h-full mx-auto">
            </div>
          </div>



            </div>


        </div>

        <video autoplay="" loop="" muted="" class="absolute w-auto min-w-full min-h-full z-1 max-w-none">
          <source src="https://staging.gofishcr.com/app/themes/sage/public/images/GFCRBGVideo.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <div class="absolute top-0 bottom-0 left-0 right-0 z-10 bg-black bg-opacity-50"></div>
      </div>


</main>
<!-- End: /default.antlers.html -->

