{{#
    @name Layout
    @desc The default layout file.
#}}

<!-- /layout.antlers.html -->
<!doctype html>
<html lang="{{ site:short_locale }}" class="antialiased">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <script src="/vendor/statamic/frontend/js/helpers.js"></script>
        <script src="https://kit.fontawesome.com/f181052d3d.js" crossorigin="anonymous"></script>
        {{ vite src="resources/css/site.css|resources/js/site.js" }}
        {{ partial:statamic-peak-seo::snippets/seo }}
        {{ partial:statamic-peak-browser-appearance::snippets/browser_appearance }}
        {{ partial:statamic-peak-tools::snippets/live_preview }}
        {{ googlefonts:main }}
        {{ googlefonts:content }}
    </head>
    <body
    x-cloak
    x-data="{
        destination: sessionStorage.getItem('_gfcr_destination'),
        charter: sessionStorage.getItem('_gfcr_charterlength'),
        dateRange: sessionStorage.getItem('_gfcr_range'),
        adults: sessionStorage.getItem('_gfcr_adults'),
        children: sessionStorage.getItem('_gfcr_children'),
        guests: sessionStorage.getItem('_gfcr_guests'),
    }"
    class="flex flex-col min-h-screen selection:bg-primary selection:text-white bg-brown-50 "
    >
        {{ stack:seo_body }}
        {{ partial:statamic-peak-tools::snippets/noscript }}
        {{ partial:statamic-peak-tools::navigation/skip_to_content }}
        {{ partial:statamic-peak-tools::components/toolbar }}


            {{ partial:layout/header }}





        <div class="{{ if is_homepage }} py-12 px-60 {{ else }} px-8 py-12 {{ /if }}">
            {{ template_content }}
        </div>


        {{ partial:layout/footer }}
    </body>
</html>
<!-- End: /layout.antlers.html -->
