<a href="#_"
@click.prevent="event.stopPropagation(); let dateRangePassed = Alpine.store('dateRangePicker').checkDateRange(); let charterPassed = Alpine.store('charterPicker').checkSelection(); let guestPassed = Alpine.store('guestPicker').checkSelection(); console.log('Date Range Passed:', dateRangePassed, 'Charter Passed:', charterPassed, 'Guest Passed:', guestPassed); let allPassed = dateRangePassed && charterPassed && guestPassed; if (allPassed) { window.location.assign('/reservations'); } else { console.log('Not all conditions passed'); }"
    class="flex items-center justify-center w-full px-6 py-3 mb-2 text-lg text-white bg-green-500 rounded-md hover:bg-green-400 sm:w-auto sm:mb-0" data-primary="green-400" data-rounded="rounded-2xl" data-primary-reset="{}">
    Continue
    <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
</a>
