{{#
    @name Header
    @desc The sites header rendered on each page.
#}}

<!-- /layout/_header.antlers.html -->




<header class="w-full px-4 mt-6">

    <div
    class="
    {{ if is_homepage || slug == "fishing-charters" || slug == "reservation" || collection:handle == "charters" || collection:handle == "packages" }}
        max-w-5xl
        mx-auto
    {{ else }}
        mx-12
    {{ /if }}
        "
    >
        <div class="flex items-center space-x-12">
            <div class="w-48">
                {{ partial:components/logo }}
            </div>
            <div class="w-full">

                {{ if is_homepage }}
                    homepage only
                {{ /if }}

                {{ if slug == 'charters' || slug == 'packages' }}
                    {{ partial:components/booking-header }}
                {{ /if }}


                {{ if collection == 'charters' || collection == 'packages' && is_entry }}
                    collection single entry only
                {{ /if }}

            </div>
            <div class="flex-1 whitespace-nowrap">
                {{ partial:navigation/main }}
            </div>
        </div>
    </div>

</header>
<!-- End: /layout/_header.antlers.html -->


