
{{ if collection == 'charters' && is_entry }}
    <a href="#_"
    @click.prevent="event.stopPropagation(); sessionStorage.setItem('_gfcr_destination', '{{ location:title }}'); sessionStorage.setItem('_gfcr_boat_image_url', '{{ boat }}'); let dateRangePassed = Alpine.store('dateRangePicker').checkDateRange(); let charterPassed = Alpine.store('charterPicker').checkSelection(); let guestPassed = Alpine.store('guestPicker').checkSelection(); let allPassed = dateRangePassed && charterPassed && guestPassed; if (allPassed) { window.location.assign('/reservation?from=charters'); }"
        class="flex items-center justify-center w-full px-6 py-3 mb-2 text-lg text-white bg-green-500 rounded-md hover:bg-green-400 sm:w-auto sm:mb-0">
        {{ title }}
        <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </a>
{{ elseif collection == 'packages' && is_entry }}
    <a href="#_"
    @click.prevent="event.stopPropagation(); let dateRangePassed = Alpine.store('dateRangePicker').checkDateRange(); let guestPassed = Alpine.store('guestPicker').checkSelection(); let allPassed = dateRangePassed && guestPassed; if (allPassed) { window.location.assign('/reservation?from=packages'); }"
        class="flex items-center justify-center w-full px-6 py-3 mb-2 text-lg text-white bg-green-500 rounded-md hover:bg-green-400 sm:w-auto sm:mb-0">
        {{ title }}
        <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </a>
{{ elseif slug == "reservation" }}
    <a @click.prevent="validateForm()"
        class="{{ if is_homepage }} h-16 {{ /if }} cursor-pointer flex items-center justify-center w-full px-6 py-3 mb-2 text-lg text-white bg-green-500 rounded-md hover:bg-green-400 sm:w-auto sm:mb-0">
        {{ title }}
        <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </a>
{{ elseif is_homepage }}
<div class="flex flex-col w-full">
    <a href="/packages" class="flex items-center w-full h-8 px-4 text-sm text-white bg-orange-600 rounded-md rounded-b-none hover:bg-orange-700">
        <div class="flex-1">
            Search Packages
        </div>
        <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </a>
    <a href="/charters" class="flex items-center w-full h-8 px-4 text-sm text-white bg-green-700 rounded-md rounded-t-none hover:bg-green-800">
        <div class="flex-1">
            Search Charters
        </div>
        <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </a>
</div>
{{ else }}
    <a href="/charters"
        class="{{ if is_homepage }} h-16 {{ /if }} flex items-center justify-center w-full px-6 py-3 mb-2 text-lg text-white bg-green-500 rounded-md hover:bg-green-400 sm:w-auto sm:mb-0">
        {{ title }}
        <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </a>
{{ /if }}



