{{#
    @name Main mobile navigation
    @desc The sites main mobile navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}

<!-- /navigation/_main_mobile.antlers.html -->


<!-- End: /navigation/_main_mobile.antlers.html -->



<div x-data="{ open: false }" class="flex justify-center">
    <!-- Trigger -->
    <span x-on:click="open = true">
        <button class="flex items-center justify-center w-10 h-10 p-2 border border-orange-800 rounded-md lg:hidden">
            <i class="text-orange-800 fa-solid fa-bars"></i>
        </button>
    </span>

    <!-- Modal -->
    <div
        x-show="open"
        x-transition:enter="ease-out duration-300"
        x-transition:enter-start="opacity-0 scale-90"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="ease-in duration-200"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0 scale-90"
        x-on:keydown.escape.prevent.stop="open = false"
        role="dialog"
        aria-modal="true"
        x-id="['modal-title']"
        :aria-labelledby="$id('modal-title')"
        class="fixed inset-0 z-10"
        x-swipe:right.threshold="100"
    >

        <!-- Full Screen Panel -->
        <div
            x-show="open" x-transition
            x-on:click="open = false"
            class="flex items-center justify-center w-full h-full"
        >
            <div
                x-on:click.stop
                x-trap.noscroll.inert="open"
                class="w-full h-full px-4 py-6 bg-white"
            >


                <div class="flex items-center">

                    <div class="flex-1">
                        {{ partial:components/logo }}
                    </div>
                    <div>
                        <button @click="open = false" class="flex items-center justify-center w-10 h-10 p-2 border border-orange-800 rounded-md lg:hidden">
                            <i class="text-orange-800 fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>



                <nav class="justify-end w-full mt-8 divide-y lg:flex divide-solid divide-brown-500">
                    {{ nav:main max_depth="2" include_home="true" select="title|url" }}




                        {{ partial:/typography/a content="{{ title }}" class="!mb-0" url="{{ url }}" class="flex items-center py-4 text-xl"  }}



                    {{ /nav:main }}

                </nav>
            </div>
        </div>
    </div>
</div>
