@import "tailwindcss/base";
@import "custom";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'flickity';
@import 'flatpickr';
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.font-h {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
}

.font-p {
    font-family: "Hind", sans-serif;
    font-optical-sizing: auto;
}

html { overflow-y: scroll; }


.flatpickr-calendar {
    @apply
    p-4
    mt-2
}



  .carousel-cell {
    width: 33.3%;
    height: 200px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: gallery-cell;
    padding: 40px;
  }

  .carousel-cell.is-selected {
    padding: 0;
  }



    .xcarousel-cell {
        width: 100%;
      }



      .fade-out-in{
        -webkit-animation: fade-out-in 5s;
        animation: fade-out-in 5s;
      }

      @keyframes fade-out-in {
        0%   { opacity: 1;}
        50%  {opacity: 0;}
        100% {opacity: 1;}
      }

      .flatpickr-input {
        @apply
        w-auto !important
      }


      /* Custom CSS for checked radio button */
.form-radio:checked {
    background-color: orange-500; /* Example color: brown-500 */
}

.form-radio:selected {
    background-color: orange-500; /* Example color: brown-500 */
}
