{{#
    @name Form - Charters
    @desc Charters booking form
#}}

<!-- /components/_booking.antlers.html -->
<div class="flex flex-col space-y-4">







        <form method="POST" action="/!/forms/reservations" id="reservationsForm" handle="reservation">

        <input type="hidden" name="_token" value="{{ csrf_token }}" autocomplete="off">




    <div x-data="{
        firstName: '',
        lastName: '',
        email: '',
        phoneNumber: '',
        firstNameError: '',
        lastNameError: '',
        emailError: '',
        phoneNumberError: '',
        validateForm: function() {
            this.firstNameError = this.firstName.trim() === '' ? 'First name is required' : '';
            this.lastNameError = this.lastName.trim() === '' ? 'Last name is required' : '';
            this.emailError = validateEmail(this.email);
            this.phoneNumberError = validatePhoneNumber(this.phoneNumber);
            if (this.firstNameError === '' && this.lastNameError === '' && this.emailError === '' && this.phoneNumberError === '') {
                this.submitForm();
            }
        },
        submitForm: function() {
            document.getElementById('reservationsForm').submit();
        }
    }">

    <input type="text" name="destination" x-model="destination" hidden />
    <input type="text" name="boat" x-model="sessionStorage.getItem('_gfcr_boat')" hidden />
    <input type="text" name="start_date" x-model="sessionStorage.getItem('_gfcr_arrival_date')" hidden />
    <input type="text" name="end_date" x-model="sessionStorage.getItem('_gfcr_departure_date')" hidden />
    <input type="text" name="adults" x-model="sessionStorage.getItem('_gfcr_adults')" hidden />
    <input type="text" name="children" x-model="sessionStorage.getItem('_gfcr_children')" hidden />
    <input type="text" name="charter_length" x-model="sessionStorage.getItem('_gfcr_charter')" hidden />


        <div class="flex flex-col space-y-4">
            <div class="flex flex-col space-y-1">
                <!-- First Name -->
                <label for="first_name" class="text-sm">First Name</label>
                <input type="text" id="first_name" name="first_name" x-model="firstName" @input="firstNameError = firstName.trim() === '' ? 'First name is required' : ''" class="h-12 text-sm text-gray-600 border-gray-400 rounded-md focus:outline-none focus:ring-0 focus:border-gray-400" />
                <template x-if="firstNameError">
                    <span x-text="firstNameError" class="text-xs text-red-500"></span>
                </template>
            </div>

            <!-- Last Name -->
            <div class="flex flex-col space-y-1">
                <label for="last_name" class="text-sm">Last Name</label>
                <input type="text" id="last_name" name="last_name" x-model="lastName" @input="lastNameError = lastName.trim() === '' ? 'Last name is required' : ''" class="h-12 text-sm text-gray-600 border-gray-400 rounded-md focus:outline-none focus:ring-0 focus:border-gray-400" />
                <template x-if="lastNameError">
                    <span x-text="lastNameError" class="text-xs text-red-500"></span>
                </template>
            </div>

            <!-- Email Address -->
            <div class="flex flex-col space-y-1">
                <label for="email" class="text-sm">Email Address</label>
                <input type="email" id="email" name="email" x-model="email" @input="emailError = validateEmail(email)" class="h-12 text-sm text-gray-600 border-gray-400 rounded-md focus:outline-none focus:ring-0 focus:border-gray-400" />
                <template x-if="emailError">
                    <span x-text="emailError" class="text-xs text-red-500"></span>
                </template>
            </div>

            <!-- Phone Number -->
            <div class="flex flex-col space-y-1">
                <label for="phone_number" class="text-sm">Phone Number</label>
                <input type="tel" id="phone_number" name="phone" x-model="phoneNumber" @input="phoneNumberError = validatePhoneNumber(phoneNumber)" class="h-12 text-sm text-gray-600 border-gray-400 rounded-md focus:outline-none focus:ring-0 focus:border-gray-400" />
                <template x-if="phoneNumberError">
                    <span x-text="phoneNumberError" class="text-xs text-red-500"></span>
                </template>
            </div>

            <!-- other activities -->








            <div class="flex flex-col space-y-1">{{ partial:partials/buttons/_booking title="Submit" }}</div>
        </div>
    </div>

    <script>
        function validateEmail(email) {
            const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return email.trim() === '' ? 'Email is required' : (!re.test(email) ? 'Email is invalid' : '');
        }

        function validatePhoneNumber(phoneNumber) {
            const re = /^\+?([0-9]{1,3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4,5})$/;
            return phoneNumber.trim() === '' ? 'Phone number is required' : (!re.test(phoneNumber) ? 'Phone number is invalid' : '');
        }

        function validateForm() {
            this.firstNameError = this.firstName.trim() === '' ? 'First name is required' : '';
            this.lastNameError = this.lastName.trim() === '' ? 'Last name is required' : '';
            this.emailError = validateEmail(this.email);
            this.phoneNumberError = validatePhoneNumber(this.phoneNumber);
            if (this.firstNameError === '' && this.lastNameError === '' && this.emailError === '' && this.phoneNumberError === '') {
                // Submit logic here
            }
        }

        function activitiesSelect() {
            return {
                show: false,
                searchTerm: '',
                options: [
                    {text: 'Sunset Catamaran Tour', value: 'catamaran'},
                    {text: 'ATV Beach & Mountain Tour', value: 'atv'},
                    {text: 'Scuba or Snorkeling', value: 'scuba'},
                    {text: 'Surf Trips', value: 'surf'},
                    {text: 'Horseback Riding', value: 'horseback'},
                    {text: 'Zipline / Canopy Tours', value: 'zipline'},
                    {text: 'Yoga Classes', value: 'yoga'},
                    {text: 'Volcano Trips', value: 'Volcano'},
                    {text: 'Turtle Tours', value: 'turtle'},
                    {text: 'Spa Trips', value: 'spa'},
                    {text: 'In-House Massage', value: 'massage'},
                    {text: 'Rain or Cloud Forest Trips', value: 'forest'}
                ],
                selected: [],
                filteredOptions() {
                    return this.options.filter((option) =>
                        this.selected.indexOf(option) < 0 &&
                        option.text.toLowerCase().includes(this.searchTerm.toLowerCase())
                    );
                },
                select(option) {
                    this.selected.push(option);
                    this.searchTerm = '';
                    this.show = false;
                },
                removeSelected(option) {
                    this.selected = this.selected.filter((selectedOption) => selectedOption !== option);
                }
            }
        }





    </script>



</form>






</div>


<!-- End: /components/_booking.antlers.html -->

