{{#
    @name Date range picker
    @desc Date range picker with flatpickr
#}}

<!-- /components/_charter_picker.antlers.html -->

<div x-data="{ open: false }" class="w-full flex items-center h-full {{ if is_homepage }} h-16  {{ /if }}">
    <div :class="{'text-red-500 ': !Alpine.store('dateRangePicker').startDate && !Alpine.store('dateRangePicker').endDate && '{{ collection }}' == 'charters' && '{{ is_entry }}'}" class="{{ if is_homepage }} h-full  {{ /if }} relative flex items-center h-full text-gray-600 border-gray-400 rounded-md">
        <!-- FontAwesome Icon -->
        <i class="absolute ml-2 fa-solid fa-calendar" style="pointer-events: none;"></i>
        <!-- Input Field -->
        <input type="text" style="width:100% !important; padding-left: 2rem;" class="{{ if is_homepage }} !h-16 w-full {{ elseif slug == "charters" }} border-x-0 rounded-l-none rounded-r-none !h-full {{ /if }} flex h-full pl-8 border-gray-400 rounded-md date-range focus:border-gray-400 focus:ring-0" x-ref="dateRange" placeholder="Choose dates" :class="{'border border-red-500 placeholder-red-500': !Alpine.store('dateRangePicker').startDate && !Alpine.store('dateRangePicker').endDate && '{{ collection }}' == 'charters' && '{{ is_entry }}'}" @click="open = !open" readonly>
        <i class="absolute right-0 mr-2 pointer-events-none fa-solid fa-angle-down"></i>
        <div x-show="open" @click.away="open = false" class="absolute z-50 mt-2 bg-white rounded-md shadow-lg">
            <!-- Date range picker will be displayed here -->
        </div>
    </div>
    <!-- Inline error message display -->

</div>
<div x-text="Alpine.store('dateRangePicker').errorMessage" class="text-xs text-red-500" x-show="'{{ collection }}' == 'charters' && '{{ is_entry }}'"></div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        Alpine.store('dateRangePicker', {
            startDate: null,
            endDate: null,
            errorMessage: '',
            init() {
                this.loadSessionDates(); // Load dates from session storage
                this.initFlatpickr();
            },
            initFlatpickr() {
                flatpickr(".date-range", {
                    mode: "range",
                    minDate: new Date(), // Set minimum date to current date
                    showMonths: '2',
                    dateFormat: "M j",
                    defaultDate: [this.startDate, this.endDate], // Set default dates
                    onChange: this.updateDates.bind(this),
                });
            },
            updateDates(selectedDates) {
                this.startDate = selectedDates[0];
                this.endDate = selectedDates[1];
                this.updateSessionDates(); // Update session storage with new dates
                if ('{{ collection }}' == 'charters' && '{{ is_entry }}') {
                    this.errorMessage = ''; // Clear error message when dates are selected
                }
            },
            loadSessionDates() {
                const arrivalDate = sessionStorage.getItem('_gfcr_arrival_date');
                const departureDate = sessionStorage.getItem('_gfcr_departure_date');
                if (arrivalDate && departureDate) {
                    this.startDate = new Date(arrivalDate);
                    this.endDate = new Date(departureDate);
                    if ('{{ collection }}' == 'charters' && '{{ is_entry }}') {
                        this.errorMessage = ''; // Clear any error message if valid dates are found
                    }
                }
            },
            updateSessionDates() {
                sessionStorage.setItem('_gfcr_arrival_date', this.startDate);
                sessionStorage.setItem('_gfcr_departure_date', this.endDate);
            },
            checkDateRange() {
                if (!this.startDate || !this.endDate) {
                    if ('{{ collection }}' == 'charters' && '{{ is_entry }}') {
                        this.errorMessage = "Please select a date range.";
                    }
                    return false;
                }
                return true;
            },
        });
    });
</script>


