{{#
    @name Date range picker
    @desc Date range picker with flatpickr
#}}

<!-- /components/_charter_picker.antlers.html -->

<div x-data="{ dateRange: null, error: '' }" x-init="initDateRangePicker">
  <input x-ref="dateRangePicker" type="text" placeholder="Select Date Range" class="flatpickr-input">
  <span x-text="error" class="text-red-500"></span>
  <script>
    function initDateRangePicker() {
      flatpickr(this.$refs.dateRangePicker, {
        mode: "range",
        dateFormat: "Y-m-d",
        showMonths: 2,
        minDate: "today",
        onClose: function(selectedDates) {
          if (selectedDates.length === 2) {
            const diffTime = Math.abs(selectedDates[1] - selectedDates[0]);
            const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
            if (diffDays < 3) {
              this.error = "Please select at least a span of 3 days.";
              this.clear();
            } else {
              this.dateRange = selectedDates.map(date => this.formatDate(date, "Y-m-d")).join(" to ");
              this.error = ""; // Clear error message
            }
          }
        }.bind(this), // Bind this to have access to Alpine component's data
      });
    }
  </script>
</div>




