{{#
    @name Guests Picker
    @desc Choose amount of adults and children
#}}

<!-- /components/_guests_picker.antlers.html -->

<div x-data="{ open: false }" class="relative ">
    <button @click="open = !open" :class="{'border-red-500 border text-red-500': Alpine.store('guestPicker').adults === 0 && '{{ collection }}' == 'charters' && '{{ is_entry }}', 'border-gray-400 border': Alpine.store('guestPicker').adults > 0 || '{{ collection }}' != 'charters' || '{{ is_entry }}' == false}" class="{{ if is_homepage }} h-16 {{ elseif slug == "charters" }} border-l-0 rounded-l-none {{ /if }} flex items-center justify-start w-full px-2 py-2 space-x-2 text-left text-gray-600 border border-gray-400 rounded-md px-09 focus:outline-none bg-white">
        <i class="text-xl {{ if slug == "charters" }} text-xs {{ /if }} fa-solid fa-person"></i>
        <span class="flex-1" x-text="Alpine.store('guestPicker').adults + Alpine.store('guestPicker').children === 0 ? 'Add Guests' : Alpine.store('guestPicker').adults + Alpine.store('guestPicker').children === 1 ? '1 Guest' : Alpine.store('guestPicker').adults + Alpine.store('guestPicker').children + ' Guests'"></span>
        <i class="fa-solid fa-angle-down"></i>
    </button>
    <div x-show="open" @click.away="open = false" class="absolute z-50 w-48 w-full mt-2 bg-white rounded-md shadow-lg">
        <!-- Adults -->
        <div class="px-4 py-2">
            <button @click="Alpine.store('guestPicker').decrementAdults()" class="px-2 py-1 text-white bg-red-500 rounded-md focus:outline-none">-</button>
            <span x-text="Alpine.store('guestPicker').adults + ' Adult' + (Alpine.store('guestPicker').adults >= 2 ? 's' : '')" class="px-4"></span>
            <button @click="Alpine.store('guestPicker').incrementAdults()" class="px-2 py-1 text-white bg-green-500 rounded-md focus:outline-none">+</button>
        </div>
        <!-- Children -->
        <div class="px-4 py-2">
            <button :disabled="Alpine.store('guestPicker').adults < 1" @click="Alpine.store('guestPicker').decrementChildren()" class="px-2 py-1 text-white bg-red-500 rounded-md focus:outline-none">-</button>
            <span x-text="Alpine.store('guestPicker').children + (Alpine.store('guestPicker').children === 1 ? ' Child' : ' Children')" class="px-4"></span>
            <button :disabled="Alpine.store('guestPicker').adults < 1" @click="Alpine.store('guestPicker').incrementChildren()" class="px-2 py-1 text-white bg-green-500 rounded-md focus:outline-none">+</button>
        </div>
    </div>
    <!-- Inline Message Display -->

 </div>

 <div x-text="Alpine.store('guestPicker').message" class="text-xs text-red-500" x-show="'{{ collection }}' == 'charters' && '{{ is_entry }}'"></div>

<script>
document.addEventListener('alpine:init', () => {
    Alpine.store('guestPicker', {
        adults: parseInt(sessionStorage.getItem('_gfcr_adults') || 0),
        children: parseInt(sessionStorage.getItem('_gfcr_children') || 0),
        message: '', // Added for inline message
        updateSessionStorage() {
            sessionStorage.setItem('_gfcr_adults', this.adults);
            sessionStorage.setItem('_gfcr_children', this.children);
            sessionStorage.setItem('_gfcr_guests', this.adults + this.children);
            this.checkSelection(); // Check selection after updating session storage
        },
        incrementAdults() {
            this.adults++;
            this.updateSessionStorage();
        },
        decrementAdults() {
            this.adults = Math.max(0, this.adults - 1);
            if (this.adults === 0) {
                this.children = 0; // Reset children if no adults
            }
            this.updateSessionStorage();
        },
        incrementChildren() {
            if (this.adults > 0) {
                this.children++;
                this.updateSessionStorage();
            }
        },
        decrementChildren() {
            this.children = Math.max(0, this.children - 1);
            this.updateSessionStorage();
        },
        checkSelection() {
            if (this.adults >= 1) {
                this.message = ""; // Clear message if adults >= 1
                return true; // Ensure there is a true statement
            } else {
                if ('{{ collection }}' == 'charters' && '{{ is_entry }}') {
                    this.message = "Please select at least one adult."; // Show message if no adults selected
                }
                return false; // Ensure there is a true statement
            }
        }
    });
});
</script>

