{{#
    @name Location Picker
    @desc Choose location from available in collection
#}}

<!-- /components/_location_picker.antlers.html -->

<div x-data="{ locationOpen: false, selectedLocation: sessionStorage.getItem('_gfcr_destination') || 'Select Location', showPrompt: true }" class="relative">
    <!-- Display Selected Location / Toggle Dropdown -->
    <div class="
    {{ if is_homepage }} h-16 {{ /if }}
    {{ if slug == "charters" }} rounded-r-none border-r-0 {{ /if }}
    flex items-center w-full px-3 py-3 space-x-4 text-md leading-4 text-gray-700 bg-white border border-gray-400 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500">
        <i class="fa-solid fa-location-pin"></i>
        <button @click="locationOpen = !locationOpen; showPrompt = locationOpen ? false : true" class="flex w-full text-left focus:outline-none">
            <span x-text="selectedLocation" class="flex-1"></span>
            <i class="fa-solid fa-angle-down"></i>
        </button>
    </div>

    <!-- Dropdown Options -->
    <div x-show.transition.opacity="locationOpen" @click.away="locationOpen = false" class="absolute z-50 w-full mt-2 bg-white border border-gray-300 rounded-md shadow-lg">
        <ul class="py-1">
            {{ collection:locations }}
                <li @click="selectedLocation = '{{ title }}'; locationOpen = false; sessionStorage.setItem('_gfcr_destination', selectedLocation); {{ if !is_homepage}} location.reload(); {{ /if }}" class="px-4 py-2 cursor-pointer hover:bg-gray-100">{{ title }}</li>
            {{ /collection:locations }}
        </ul>
    </div>
</div>
