{{#
    @name Fishing Charters index
    @desc The Fishing Charters index template.
#}}


<!-- /fishing_charters/index.antlers.html -->
<main class="outer-grid" id="content">
    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>
<!-- End: /fishing_charters/index.antlers.html -->

{{ section:index_content }}
    <!-- /fishing_charters/index.antlers.html -->
    <div class="grid gap-12 fluid-container md:grid-cols-12">
        {{ collection:fishing_charters sort="title" paginate="true" limit="10" as="items" }}
            {{ unless no_results }}
                {{ items }}
                    <div class="md:col-span-6">
                        <a class="underline" href="{{ url }}">{{ title }}</a>
                    </div>
                {{ /items }}
            {{ else }}
                <div class="md:col-span-6">
                    {{ trans:strings.no_results }}
                </div>
            {{ /unless }}
            {{ partial:statamic-peak-tools::components/pagination class="md:col-span-12" }}
        {{ /collection:fishing_charters }}
    </div>
    <!-- End: /fishing_charters/index.antlers.html -->
{{ /section:index_content }}


