{{#
    @name Reservations index
    @desc The Reservations index template.
#}}




<!-- Location -->
<template x-if="destination">
<div class="flex justify-center">
    <div class="flex items-center justify-center px-4 py-4 space-x-2 text-2xl bg-orange-100 border-t border-orange-500 rounded-t-2xl border-x">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
              </svg>
        </div>
        <div x-html="destination" class="flex justify-center"></div>
    </div>

</div>

</template>
<template x-if="!destination">
    <div class="flex justify-center">All Locations</div>
</template>





<!-- Tabs -->
<div
    x-data="{
        selectedId: null,
        init() {
            // Set the first available tab on the page on page load.
            this.$nextTick(() => this.select(this.$id('tab', 1)))
        },
        select(id) {
            this.selectedId = id
        },
        isSelected(id) {
            return this.selectedId === id
        },
        whichChild(el, parent) {
            return Array.from(parent.children).indexOf(el) + 1
        }
    }"
    x-id="['tab']"
    class="px-0 pb-8 mx-auto"
>
    <!-- Tab List -->
    <ul
        x-ref="tablist"
        @keydown.right.prevent.stop="$focus.wrap().next()"
        @keydown.home.prevent.stop="$focus.first()"
        @keydown.page-up.prevent.stop="$focus.first()"
        @keydown.left.prevent.stop="$focus.wrap().prev()"
        @keydown.end.prevent.stop="$focus.last()"
        @keydown.page-down.prevent.stop="$focus.last()"
        role="tablist"
        class="flex justify-center mb-8"
    >
        <!-- Tab -->
        <li>
            <button
                :id="$id('tab', whichChild($el.parentElement, $refs.tablist))"
                @click="select($el.id)"
                @mousedown.prevent
                @focus="select($el.id)"
                type="button"
                :tabindex="isSelected($el.id) ? 0 : -1"
                :aria-selected="isSelected($el.id)"
                :class="isSelected($el.id) ? 'border-brown-100 bg-orange-500 text-orange-50 font-bold' : 'border-transparent '"
                class="inline-flex rounded-l-full  px-5 py-2.5 bg-brown-100"
                role="tab"
            >Fishing Charters</button>
        </li>

        <li>
            <button
                :id="$id('tab', whichChild($el.parentElement, $refs.tablist))"
                @click="select($el.id)"
                @mousedown.prevent
                @focus="select($el.id)"
                type="button"
                :tabindex="isSelected($el.id) ? 0 : -1"
                :aria-selected="isSelected($el.id)"
                :class="isSelected($el.id) ? 'border-brown-100 bg-orange-500 text-orange-50 font-bold' : 'border-transparent'"
                class="inline-flex rounded-r-full  px-5 py-2.5 bg-brown-100"
                role="tab"
            >Go Fish Packages </button>
        </li>
    </ul>

    <!-- Panels -->
    <div role="tabpanels" class="bg-white border border-gray-200 rounded-b-md">
        <!-- Panel -->
        <section
            x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))"
            :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
            role="tabpanel"
            class="p-8 border border-brown-100 bg-gray-50"
        >
           <!-- /fishing_charters/index.antlers.html -->
            <main class="" id="content">
                {{ page_builder scope="block" }}
                    {{ partial src="page_builder/{type}" }}
                {{ /page_builder }}
            </main>
            <!-- End: /fishing_charters/index.antlers.html -->

            {{ section:index_content }}
                <!-- /fishing_charters/index.antlers.html -->
                <div class="grid gap-8 md:grid-cols-3 ">
                    {{ collection:fishing_charters sort="title" paginate="true" limit="10" as="items" }}
                        {{ unless no_results }}
                            {{ items }}
                                {{ if location == "tamarindo" }}
                                    <div x-show="destination === 'Tamarindo'">
                                        {{ partial:partials/boats/reservations_details }}
                                    </div>
                                {{ elseif location == "los_suenos" }}
                                    <div x-show="destination === 'Los Suenos'">
                                        {{ partial:partials/boats/reservations_details }}
                                    </div>
                                {{ elseif location == "flamingo" }}
                                    <div x-show="destination === 'Flamingo'">
                                        {{ partial:partials/boats/reservations_details }}
                                    </div>
                                {{ /if }}
                                    <div x-show="destination === ''">
                                        {{ partial:partials/boats/reservations_details }}
                                    </div>
                            {{ /items }}
                        {{ else }}
                            <div class="md:col-span-6">
                                {{ trans:strings.no_results }}
                            </div>
                        {{ /unless }}
                        {{ partial:statamic-peak-tools::components/pagination class="md:col-span-12" }}
                    {{ /collection:fishing_charters }}
                </div>
                <!-- End: /fishing_charters/index.antlers.html -->
            {{ /section:index_content }}
        </section>

        <section
            x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))"
            :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
            role="tabpanel"
            class="p-8 bg-brown-100"
        >
            <h2 class="text-xl font-bold">Go Fish Packages</h2>
            <p class="mt-2 text-gray-500">Fugiat odit alias, eaque optio quas nobis minima reiciendis voluptate dolorem nisi facere debitis ea laboriosam vitae omnis ut voluptatum eos. Fugiat?</p>

        </section>
    </div>
</div>




