{{#
    @name Charters index
    @desc Charters index template.
#}}




<!-- Location -->

<div class="flex flex-col w-full mb-16 space-y-4">
    <template x-if="destination" >
        {{ partial:/typography/h1 class="flex justify-center" content="<span x-text='destination' class='flex'></span>&nbsp;Sport Fishing Charters" }}
    </template>
    <template x-if="!destination" >
        {{ partial:/typography/h1 class="flex justify-center" content="<span x-text='destination' class='flex'></span>&nbsp;Sport Fishing Charters" }}
    </template>
    {{ partial:/typography/p class="flex justify-center text-lg" content='Wanna book a complete package?&nbsp;<a href="/packages" class="underline hover:font-[500]">Click here</a>' }}
    {{ partial:/dividers/_divider_icon }}
</div>

<!-- END: location -->




<!-- /charters/index.antlers.html -->

<main class="" id="content">
    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>

<!-- End: /charters/index.antlers.html -->

{{ section:index_content }}

    {{ collection:charters sort="title" paginate="true" limit="10" as="items" }}
    <div x-data="{ destination: sessionStorage.getItem('_gfcr_destination') }" class="grid grid-cols-12 gap-4">

        {{ items }}





                    <!-- This will only show if _gfcr_destination is exactly 'desiredValue' -->
                    <div x-show="destination === '{{ location:title }}'"  class="col-span-4">
                        {{ partial:partials/charters/reservations_details }}
                    </div>



                    <!-- This will show if _gfcr_destination is null or an empty string -->
                    <div x-show="!destination"  class="col-span-4">
                        {{ partial:partials/charters/reservations_details }}
                    </div>



        {{ /items }}
    </div>

    {{ /collection:charters }}
{{ /section:index_content }}
