
<div class="flex flex-col w-full space-y-8">

    <div class="grid w-full grid-cols-2 gap-1">
        <div class="col-span-1">
            <img src="{{ boat }}" alt="" class="w-full">
        </div>
        <div class="col-span-1">
            <div class="grid grid-cols-4 gap-1 grid-flow-row auto-rows-[minmax(0,_2fr)] w-full auto-cols-[minmax(0,_2fr)] h-full relative">
                {{ additional_photos limit="4" }}
                <div class="col-span-2 bg-center bg-cover" style="background-image: url('{{ url }}')"></div>
                {{ /additional_photos }}
                <a href="" class="absolute bottom-0 right-0 px-4 py-2 m-4 text-sm bg-white rounded-lg hover:bg-gray-100">
                    View all images
                </a>
            </div>

        </div>
    </div>

    <div class="grid w-full grid-cols-8 gap-24">
        <div class="col-span-5">
            <div class="flex flex-col space-y-8">
                <h1 class="text-2xl font-bold">{{ title }}</h1>
                <div class="flex py-8 my-32 border-gray-300 border-y">
                    <div class="flex-1">
                        <div class="flex items-center space-x-2 text-orange-600">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                            </svg>
                            <span>{{ location:title }} </span>
                        </div>
                    </div>
                    <div class="flex space-x-8">
                        <div class="flex space-x-6">
                            {{ if inshore_or_offshore == 'inshore' }}
                                <div class="font-bold text-green-700">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-full" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                                    </svg>
                                </div>
                                <div class="font-bold text-green-700">
                                    {{ inshore_or_offshore:label }}
                                </div>
                                {{ elseif inshore_or_offshore == 'offshore' }}
                                <div class="font-bold text-red-700">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-full" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
                                    </svg>
                                </div>
                                <div class="font-bold text-red-700">
                                    {{ inshore_or_offshore:label }}
                                </div>
                            {{ /if }}
                        </div>

                        <div>
                            {{ if popular == 'true' }}
                                <div class="flex items-center px-2 space-x-1 bg-orange-100 border border-orange-300 rounded-full">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                            <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                                        </svg>
                                    </div>
                                    <div>
                                        Top Boat
                                    </div>
                                </div>
                            {{ /if }}
                        </div>
                    </div>
                </div>
                <div>
                    <h2 class="mb-2 text-xl font-bold">How many can board this boat?</h2>
                    {{ if passengers }} {{ passengers }} {{ /if }}

                </div>
                <div>
                    <h2 class="mb-2 text-xl font-bold">What this boat offers</h2>
                    <ul class="block">
                        {{ features }}
                        <li class="flex flex-col text-md">{{ value }}</li>
                        {{ /features }}
                    </ul>
                </div>
                <div class="flex flex-col py-8 my-32 border-gray-300 border-y">
                    <h2 class="text-xl font-bold">Current rates for this boat</h2>
                    <small>Prices are subject to change</small>
                    <div class="flex mt-8 space-x-8">
                        {{ pricing }}

                            <div class="flex-1 p-4 border border-gray-300 rounded-lg bg-gray-50">{{ if half_day }}<span>1/2 Day: </span><span class="font-bold">${{ half_day }}.00 {{ /if }}</span></div>
                            <div class="flex-1 p-4 bg-gray-100 border border-gray-300 rounded-lg">{{ if three_quarter_day }}<span>3/4 Day: </span><span class="font-bold">${{ three_quarter_day }}.00 {{ /if }}</div>
                            <div class="flex-1 p-4 bg-gray-200 border border-gray-300 rounded-lg">{{ if full_day }}<span>Full Day: </span><span class="font-bold">${{ full_day }}.00 {{ /if }}</div>

                        {{ /pricing }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-3">
            <div class="p-8 bg-white border border-gray-100 shadow-2xl rounded-xl">
                {{ partial:components/booking_boat }}
            </div>
        </div>
    </div>



</div>


<script>
    sessionStorage.removeItem("_x_charterlength");
</script>
